.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

input/images/*
input/videos/*
!input/images/.gitkeep
!input/videos/.gitkeep

outputs/**
!outputs/
!outputs/*/
!outputs/*/.gitkeep

text-to-cad/
*.egg-info/
